@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel
<tr>
    <td colspan="2">
        <label>Avg Ambient Temperature &#176;C:</label>
    </td>
    <td>
        @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, string.Empty, "N/A", true, 2) <sup>o</sup>C
    </td>
</tr>
