@Html.DevExpress().GridView(settings =>
        {
            settings.Name = "gridAssumptionDataIndex";
            settings.CallbackRouteValues = new { Controller = "AssumptionData", Action = "IndexPartial" };
            settings.CustomBindingRouteValuesCollection.Add(GridViewOperationType.Paging, new { Controller = "AssumptionData", Action = "PagingAction" });

            settings.SettingsEditing.Mode = GridViewEditingMode.EditForm;
            settings.SettingsBehavior.ConfirmDelete = true;
            settings.Width = Unit.Percentage(60);

            settings.KeyFieldName = "Id";
            settings.Columns.Add("Id").Visible = false;
            settings.Columns.Add("Scenario", "Scenario");
            settings.Columns.Add("Config", "Config");
            settings.Columns.Add("ActualValue", "Actual Value");
            settings.Columns.Add("ForecastValue", "Forcast Value");
            settings.Columns.Add("Remark", "Remark");
            settings.Columns.Add(column =>
            {
                column.Caption = "Action";
                column.SetDataItemTemplateContent(c =>
                                                  ViewContext.Writer.Write(
                                                      Html.ActionLink("Edit", "Edit", new { Id = DataBinder.Eval(c.DataItem, "Id") }) + " | " +
                                                      "<a href='javascript:;' onclick='confirmDelete(" + DataBinder.Eval(c.DataItem, "Id") + ")'>Delete</a>"
                                                      )


                    );
            });
            settings.SettingsPager.PageSizeItemSettings.Visible = true;
            settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };
        }).BindToCustomData(Model).GetHtml()