USE [master]
GO
/****** Object:  Database [DbPear]    Script Date: 06/16/2015 17:10:37 ******/
CREATE DATABASE [DbPear] ON  PRIMARY 
( NAME = N'DbPear', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DbPear.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DbPear_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DbPear_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbPear].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbPear]
GO
/****** Object:  Table [dbo].[Types]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Types] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScoreIndicators]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScoreIndicators](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RefId] [int] NOT NULL,
	[Color] [nvarchar](max) NULL,
	[MinValue] [decimal](18, 2) NOT NULL,
	[MaxValue] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ScoreIndicators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pilars]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pilars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[Oder] [int] NOT NULL,
	[Color] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Pilars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Periodes]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Periodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [int] NOT NULL,
	[Value] [datetime] NULL,
	[Remark] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Periodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Methods]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Methods](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Methods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Order] [int] NOT NULL,
	[IsRoot] [bit] NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[Module] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Menu_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Menu_Id] ON [dbo].[Menus] 
(
	[Menu_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Measurements]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measurements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Measurements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Levels]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Levels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Number] [int] NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Levels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Levels] ON
INSERT [dbo].[Levels] ([Id], [Code], [Name], [Number], [Remark], [IsActive]) VALUES (1, N'DR', N'Directorate', 1, NULL, 1)
INSERT [dbo].[Levels] ([Id], [Code], [Name], [Number], [Remark], [IsActive]) VALUES (2, N'CR', N'Corporate', 2, NULL, 1)
INSERT [dbo].[Levels] ([Id], [Code], [Name], [Number], [Remark], [IsActive]) VALUES (3, N'FN', N'Function', 3, NULL, 0)
SET IDENTITY_INSERT [dbo].[Levels] OFF
/****** Object:  Table [dbo].[Activities]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Order] [int] NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Activities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PmsConfigs]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PmsConfigs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Wight] [int] NOT NULL,
	[ScoringType] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Pilar_Id] [int] NULL,
	[ScoreIndicator_Id] [int] NULL,
 CONSTRAINT [PK_dbo.PmsConfigs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Pilar_Id] ON [dbo].[PmsConfigs] 
(
	[Pilar_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ScoreIndicator_Id] ON [dbo].[PmsConfigs] 
(
	[ScoreIndicator_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Order] [int] NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Activity_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Groups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Activity_Id] ON [dbo].[Groups] 
(
	[Activity_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversions]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [real] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsReverse] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[From_Id] [int] NULL,
	[To_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Conversions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_From_Id] ON [dbo].[Conversions] 
(
	[From_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_To_Id] ON [dbo].[Conversions] 
(
	[To_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleGroups]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Level_Id] [int] NULL,
	[Menu_Id] [int] NULL,
 CONSTRAINT [PK_dbo.RoleGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Level_Id] ON [dbo].[RoleGroups] 
(
	[Level_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Menu_Id] ON [dbo].[RoleGroups] 
(
	[Menu_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RoleGroups] ON
INSERT [dbo].[RoleGroups] ([Id], [Name], [Icon], [Remark], [IsActive], [Level_Id], [Menu_Id]) VALUES (1, N'Finance Directorate', NULL, NULL, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[RoleGroups] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[Role_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_Email] ON [dbo].[Users] 
(
	[Email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Role_Id] ON [dbo].[Users] 
(
	[Role_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_Username] ON [dbo].[Users] 
(
	[Username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([Id], [Username], [Email], [IsActive], [Role_Id]) VALUES (1, N'admin', N'admin@regawa.com', 1, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[PmsSummaries]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PmsSummaries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[CreatedBy_Id] [int] NULL,
	[Periode_Id] [int] NULL,
	[PmsConfig_Id] [int] NULL,
	[ScoreIndicator_Id] [int] NULL,
	[UpdatedBy_Id] [int] NULL,
 CONSTRAINT [PK_dbo.PmsSummaries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CreatedBy_Id] ON [dbo].[PmsSummaries] 
(
	[CreatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Periode_Id] ON [dbo].[PmsSummaries] 
(
	[Periode_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PmsConfig_Id] ON [dbo].[PmsSummaries] 
(
	[PmsConfig_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ScoreIndicator_Id] ON [dbo].[PmsSummaries] 
(
	[ScoreIndicator_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UpdatedBy_Id] ON [dbo].[PmsSummaries] 
(
	[UpdatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kpis]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kpis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[PilarId] [int] NULL,
	[IsEconomic] [nvarchar](max) NULL,
	[Order] [int] NOT NULL,
	[YtdFormula] [int] NOT NULL,
	[ConversionId] [int] NULL,
	[FormatInput] [int] NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[CreatedBy_Id] [int] NULL,
	[Group_Id] [int] NULL,
	[Level_Id] [int] NULL,
	[Measurement_Id] [int] NULL,
	[Method_Id] [int] NULL,
	[Periode_Id] [int] NULL,
	[RoleGroup_Id] [int] NULL,
	[Type_Id] [int] NULL,
	[UpdatedBy_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Kpis] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ConversionId] ON [dbo].[Kpis] 
(
	[ConversionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CreatedBy_Id] ON [dbo].[Kpis] 
(
	[CreatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Group_Id] ON [dbo].[Kpis] 
(
	[Group_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Level_Id] ON [dbo].[Kpis] 
(
	[Level_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Measurement_Id] ON [dbo].[Kpis] 
(
	[Measurement_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Method_Id] ON [dbo].[Kpis] 
(
	[Method_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Periode_Id] ON [dbo].[Kpis] 
(
	[Periode_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PilarId] ON [dbo].[Kpis] 
(
	[PilarId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RoleGroup_Id] ON [dbo].[Kpis] 
(
	[RoleGroup_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Type_Id] ON [dbo].[Kpis] 
(
	[Type_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UpdatedBy_Id] ON [dbo].[Kpis] 
(
	[UpdatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artifacts]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artifacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Header] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[CreatedBy_Id] [int] NULL,
	[UpdatedBy_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Artifacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CreatedBy_Id] ON [dbo].[Artifacts] 
(
	[CreatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UpdatedBy_Id] ON [dbo].[Artifacts] 
(
	[UpdatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DashboardTemplates]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DashboardTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[LayoutContent] [nvarchar](max) NULL,
	[RefershTime] [int] NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[CreatedBy_Id] [int] NULL,
	[UpdatedBy_Id] [int] NULL,
 CONSTRAINT [PK_dbo.DashboardTemplates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CreatedBy_Id] ON [dbo].[DashboardTemplates] 
(
	[CreatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UpdatedBy_Id] ON [dbo].[DashboardTemplates] 
(
	[UpdatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LayoutRows]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LayoutRows](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[CreatedBy_Id] [int] NULL,
	[UpdatedBy_Id] [int] NULL,
	[DashboardTemplate_Id] [int] NULL,
 CONSTRAINT [PK_dbo.LayoutRows] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CreatedBy_Id] ON [dbo].[LayoutRows] 
(
	[CreatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_DashboardTemplate_Id] ON [dbo].[LayoutRows] 
(
	[DashboardTemplate_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UpdatedBy_Id] ON [dbo].[LayoutRows] 
(
	[UpdatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PmsConfigDetails]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PmsConfigDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Weight] [int] NOT NULL,
	[ScoringType] [int] NOT NULL,
	[AsGraphic] [bit] NOT NULL,
	[TargetType] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[CreatedBy_Id] [int] NULL,
	[Kpi_Id] [int] NULL,
	[PmsConfig_Id] [int] NULL,
	[ScoreIndicator_Id] [int] NULL,
	[UpdatedBy_Id] [int] NULL,
 CONSTRAINT [PK_dbo.PmsConfigDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CreatedBy_Id] ON [dbo].[PmsConfigDetails] 
(
	[CreatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Kpi_Id] ON [dbo].[PmsConfigDetails] 
(
	[Kpi_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PmsConfig_Id] ON [dbo].[PmsConfigDetails] 
(
	[PmsConfig_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ScoreIndicator_Id] ON [dbo].[PmsConfigDetails] 
(
	[ScoreIndicator_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UpdatedBy_Id] ON [dbo].[PmsConfigDetails] 
(
	[UpdatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArtifactSeries]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtifactSeries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Start] [datetime] NOT NULL,
	[End] [datetime] NOT NULL,
	[PeriodeType] [nvarchar](max) NULL,
	[Aggregation] [nvarchar](max) NULL,
	[Color] [nvarchar](max) NULL,
	[RefTable] [nvarchar](max) NULL,
	[RefId] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Artifact_Id] [int] NULL,
 CONSTRAINT [PK_dbo.ArtifactSeries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Artifact_Id] ON [dbo].[ArtifactSeries] 
(
	[Artifact_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KpiAchievements]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KpiAchievements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[CreatedBy_Id] [int] NULL,
	[PmsConfigDetail_Id] [int] NULL,
	[UpdatedBy_Id] [int] NULL,
 CONSTRAINT [PK_dbo.KpiAchievements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CreatedBy_Id] ON [dbo].[KpiAchievements] 
(
	[CreatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PmsConfigDetail_Id] ON [dbo].[KpiAchievements] 
(
	[PmsConfigDetail_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UpdatedBy_Id] ON [dbo].[KpiAchievements] 
(
	[UpdatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArtifactStacks]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtifactStacks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RefType] [nvarchar](max) NULL,
	[RefId] [nvarchar](max) NULL,
	[Color] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[ArtifactSerie_Id] [int] NULL,
 CONSTRAINT [PK_dbo.ArtifactStacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ArtifactSerie_Id] ON [dbo].[ArtifactStacks] 
(
	[ArtifactSerie_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LayoutColumns]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LayoutColumns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Index] [int] NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[CreatedBy_Id] [int] NULL,
	[UpdatedBy_Id] [int] NULL,
	[LayoutRow_Id] [int] NULL,
 CONSTRAINT [PK_dbo.LayoutColumns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CreatedBy_Id] ON [dbo].[LayoutColumns] 
(
	[CreatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_LayoutRow_Id] ON [dbo].[LayoutColumns] 
(
	[LayoutRow_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UpdatedBy_Id] ON [dbo].[LayoutColumns] 
(
	[UpdatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KpiTargets]    Script Date: 06/16/2015 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KpiTargets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[CreatedBy_Id] [int] NULL,
	[PmsConfigDetail_Id] [int] NULL,
	[UpdatedBy_Id] [int] NULL,
 CONSTRAINT [PK_dbo.KpiTargets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CreatedBy_Id] ON [dbo].[KpiTargets] 
(
	[CreatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PmsConfigDetail_Id] ON [dbo].[KpiTargets] 
(
	[PmsConfigDetail_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UpdatedBy_Id] ON [dbo].[KpiTargets] 
(
	[UpdatedBy_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.Menus_dbo.Menus_Menu_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Menus_dbo.Menus_Menu_Id] FOREIGN KEY([Menu_Id])
REFERENCES [dbo].[Menus] ([Id])
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_dbo.Menus_dbo.Menus_Menu_Id]
GO
/****** Object:  ForeignKey [FK_dbo.PmsConfigs_dbo.Pilars_Pilar_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[PmsConfigs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PmsConfigs_dbo.Pilars_Pilar_Id] FOREIGN KEY([Pilar_Id])
REFERENCES [dbo].[Pilars] ([Id])
GO
ALTER TABLE [dbo].[PmsConfigs] CHECK CONSTRAINT [FK_dbo.PmsConfigs_dbo.Pilars_Pilar_Id]
GO
/****** Object:  ForeignKey [FK_dbo.PmsConfigs_dbo.ScoreIndicators_ScoreIndicator_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[PmsConfigs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PmsConfigs_dbo.ScoreIndicators_ScoreIndicator_Id] FOREIGN KEY([ScoreIndicator_Id])
REFERENCES [dbo].[ScoreIndicators] ([Id])
GO
ALTER TABLE [dbo].[PmsConfigs] CHECK CONSTRAINT [FK_dbo.PmsConfigs_dbo.ScoreIndicators_ScoreIndicator_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Groups_dbo.Activities_Activity_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Groups_dbo.Activities_Activity_Id] FOREIGN KEY([Activity_Id])
REFERENCES [dbo].[Activities] ([Id])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_dbo.Groups_dbo.Activities_Activity_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Conversions_dbo.Measurements_From_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Conversions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Conversions_dbo.Measurements_From_Id] FOREIGN KEY([From_Id])
REFERENCES [dbo].[Measurements] ([Id])
GO
ALTER TABLE [dbo].[Conversions] CHECK CONSTRAINT [FK_dbo.Conversions_dbo.Measurements_From_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Conversions_dbo.Measurements_To_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Conversions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Conversions_dbo.Measurements_To_Id] FOREIGN KEY([To_Id])
REFERENCES [dbo].[Measurements] ([Id])
GO
ALTER TABLE [dbo].[Conversions] CHECK CONSTRAINT [FK_dbo.Conversions_dbo.Measurements_To_Id]
GO
/****** Object:  ForeignKey [FK_dbo.RoleGroups_dbo.Levels_Level_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[RoleGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleGroups_dbo.Levels_Level_Id] FOREIGN KEY([Level_Id])
REFERENCES [dbo].[Levels] ([Id])
GO
ALTER TABLE [dbo].[RoleGroups] CHECK CONSTRAINT [FK_dbo.RoleGroups_dbo.Levels_Level_Id]
GO
/****** Object:  ForeignKey [FK_dbo.RoleGroups_dbo.Menus_Menu_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[RoleGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleGroups_dbo.Menus_Menu_Id] FOREIGN KEY([Menu_Id])
REFERENCES [dbo].[Menus] ([Id])
GO
ALTER TABLE [dbo].[RoleGroups] CHECK CONSTRAINT [FK_dbo.RoleGroups_dbo.Menus_Menu_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Users_dbo.RoleGroups_Role_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.RoleGroups_Role_Id] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[RoleGroups] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.RoleGroups_Role_Id]
GO
/****** Object:  ForeignKey [FK_dbo.PmsSummaries_dbo.Periodes_Periode_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[PmsSummaries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PmsSummaries_dbo.Periodes_Periode_Id] FOREIGN KEY([Periode_Id])
REFERENCES [dbo].[Periodes] ([Id])
GO
ALTER TABLE [dbo].[PmsSummaries] CHECK CONSTRAINT [FK_dbo.PmsSummaries_dbo.Periodes_Periode_Id]
GO
/****** Object:  ForeignKey [FK_dbo.PmsSummaries_dbo.PmsConfigs_PmsConfig_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[PmsSummaries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PmsSummaries_dbo.PmsConfigs_PmsConfig_Id] FOREIGN KEY([PmsConfig_Id])
REFERENCES [dbo].[PmsConfigs] ([Id])
GO
ALTER TABLE [dbo].[PmsSummaries] CHECK CONSTRAINT [FK_dbo.PmsSummaries_dbo.PmsConfigs_PmsConfig_Id]
GO
/****** Object:  ForeignKey [FK_dbo.PmsSummaries_dbo.ScoreIndicators_ScoreIndicator_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[PmsSummaries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PmsSummaries_dbo.ScoreIndicators_ScoreIndicator_Id] FOREIGN KEY([ScoreIndicator_Id])
REFERENCES [dbo].[ScoreIndicators] ([Id])
GO
ALTER TABLE [dbo].[PmsSummaries] CHECK CONSTRAINT [FK_dbo.PmsSummaries_dbo.ScoreIndicators_ScoreIndicator_Id]
GO
/****** Object:  ForeignKey [FK_dbo.PmsSummaries_dbo.Users_CreatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[PmsSummaries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PmsSummaries_dbo.Users_CreatedBy_Id] FOREIGN KEY([CreatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PmsSummaries] CHECK CONSTRAINT [FK_dbo.PmsSummaries_dbo.Users_CreatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.PmsSummaries_dbo.Users_UpdatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[PmsSummaries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PmsSummaries_dbo.Users_UpdatedBy_Id] FOREIGN KEY([UpdatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PmsSummaries] CHECK CONSTRAINT [FK_dbo.PmsSummaries_dbo.Users_UpdatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Kpis_dbo.Conversions_ConversionId]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Kpis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kpis_dbo.Conversions_ConversionId] FOREIGN KEY([ConversionId])
REFERENCES [dbo].[Conversions] ([Id])
GO
ALTER TABLE [dbo].[Kpis] CHECK CONSTRAINT [FK_dbo.Kpis_dbo.Conversions_ConversionId]
GO
/****** Object:  ForeignKey [FK_dbo.Kpis_dbo.Groups_Group_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Kpis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kpis_dbo.Groups_Group_Id] FOREIGN KEY([Group_Id])
REFERENCES [dbo].[Groups] ([Id])
GO
ALTER TABLE [dbo].[Kpis] CHECK CONSTRAINT [FK_dbo.Kpis_dbo.Groups_Group_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Kpis_dbo.Levels_Level_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Kpis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kpis_dbo.Levels_Level_Id] FOREIGN KEY([Level_Id])
REFERENCES [dbo].[Levels] ([Id])
GO
ALTER TABLE [dbo].[Kpis] CHECK CONSTRAINT [FK_dbo.Kpis_dbo.Levels_Level_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Kpis_dbo.Measurements_Measurement_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Kpis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kpis_dbo.Measurements_Measurement_Id] FOREIGN KEY([Measurement_Id])
REFERENCES [dbo].[Measurements] ([Id])
GO
ALTER TABLE [dbo].[Kpis] CHECK CONSTRAINT [FK_dbo.Kpis_dbo.Measurements_Measurement_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Kpis_dbo.Methods_Method_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Kpis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kpis_dbo.Methods_Method_Id] FOREIGN KEY([Method_Id])
REFERENCES [dbo].[Methods] ([Id])
GO
ALTER TABLE [dbo].[Kpis] CHECK CONSTRAINT [FK_dbo.Kpis_dbo.Methods_Method_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Kpis_dbo.Periodes_Periode_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Kpis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kpis_dbo.Periodes_Periode_Id] FOREIGN KEY([Periode_Id])
REFERENCES [dbo].[Periodes] ([Id])
GO
ALTER TABLE [dbo].[Kpis] CHECK CONSTRAINT [FK_dbo.Kpis_dbo.Periodes_Periode_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Kpis_dbo.Pilars_PilarId]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Kpis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kpis_dbo.Pilars_PilarId] FOREIGN KEY([PilarId])
REFERENCES [dbo].[Pilars] ([Id])
GO
ALTER TABLE [dbo].[Kpis] CHECK CONSTRAINT [FK_dbo.Kpis_dbo.Pilars_PilarId]
GO
/****** Object:  ForeignKey [FK_dbo.Kpis_dbo.RoleGroups_RoleGroup_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Kpis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kpis_dbo.RoleGroups_RoleGroup_Id] FOREIGN KEY([RoleGroup_Id])
REFERENCES [dbo].[RoleGroups] ([Id])
GO
ALTER TABLE [dbo].[Kpis] CHECK CONSTRAINT [FK_dbo.Kpis_dbo.RoleGroups_RoleGroup_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Kpis_dbo.Types_Type_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Kpis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kpis_dbo.Types_Type_Id] FOREIGN KEY([Type_Id])
REFERENCES [dbo].[Types] ([Id])
GO
ALTER TABLE [dbo].[Kpis] CHECK CONSTRAINT [FK_dbo.Kpis_dbo.Types_Type_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Kpis_dbo.Users_CreatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Kpis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kpis_dbo.Users_CreatedBy_Id] FOREIGN KEY([CreatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Kpis] CHECK CONSTRAINT [FK_dbo.Kpis_dbo.Users_CreatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Kpis_dbo.Users_UpdatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Kpis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kpis_dbo.Users_UpdatedBy_Id] FOREIGN KEY([UpdatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Kpis] CHECK CONSTRAINT [FK_dbo.Kpis_dbo.Users_UpdatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Artifacts_dbo.Users_CreatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Artifacts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Artifacts_dbo.Users_CreatedBy_Id] FOREIGN KEY([CreatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Artifacts] CHECK CONSTRAINT [FK_dbo.Artifacts_dbo.Users_CreatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Artifacts_dbo.Users_UpdatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[Artifacts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Artifacts_dbo.Users_UpdatedBy_Id] FOREIGN KEY([UpdatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Artifacts] CHECK CONSTRAINT [FK_dbo.Artifacts_dbo.Users_UpdatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.DashboardTemplates_dbo.Users_CreatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[DashboardTemplates]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DashboardTemplates_dbo.Users_CreatedBy_Id] FOREIGN KEY([CreatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DashboardTemplates] CHECK CONSTRAINT [FK_dbo.DashboardTemplates_dbo.Users_CreatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.DashboardTemplates_dbo.Users_UpdatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[DashboardTemplates]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DashboardTemplates_dbo.Users_UpdatedBy_Id] FOREIGN KEY([UpdatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DashboardTemplates] CHECK CONSTRAINT [FK_dbo.DashboardTemplates_dbo.Users_UpdatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.LayoutRows_dbo.DashboardTemplates_DashboardTemplate_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[LayoutRows]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LayoutRows_dbo.DashboardTemplates_DashboardTemplate_Id] FOREIGN KEY([DashboardTemplate_Id])
REFERENCES [dbo].[DashboardTemplates] ([Id])
GO
ALTER TABLE [dbo].[LayoutRows] CHECK CONSTRAINT [FK_dbo.LayoutRows_dbo.DashboardTemplates_DashboardTemplate_Id]
GO
/****** Object:  ForeignKey [FK_dbo.LayoutRows_dbo.Users_CreatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[LayoutRows]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LayoutRows_dbo.Users_CreatedBy_Id] FOREIGN KEY([CreatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LayoutRows] CHECK CONSTRAINT [FK_dbo.LayoutRows_dbo.Users_CreatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.LayoutRows_dbo.Users_UpdatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[LayoutRows]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LayoutRows_dbo.Users_UpdatedBy_Id] FOREIGN KEY([UpdatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LayoutRows] CHECK CONSTRAINT [FK_dbo.LayoutRows_dbo.Users_UpdatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.PmsConfigDetails_dbo.Kpis_Kpi_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[PmsConfigDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PmsConfigDetails_dbo.Kpis_Kpi_Id] FOREIGN KEY([Kpi_Id])
REFERENCES [dbo].[Kpis] ([Id])
GO
ALTER TABLE [dbo].[PmsConfigDetails] CHECK CONSTRAINT [FK_dbo.PmsConfigDetails_dbo.Kpis_Kpi_Id]
GO
/****** Object:  ForeignKey [FK_dbo.PmsConfigDetails_dbo.PmsConfigs_PmsConfig_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[PmsConfigDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PmsConfigDetails_dbo.PmsConfigs_PmsConfig_Id] FOREIGN KEY([PmsConfig_Id])
REFERENCES [dbo].[PmsConfigs] ([Id])
GO
ALTER TABLE [dbo].[PmsConfigDetails] CHECK CONSTRAINT [FK_dbo.PmsConfigDetails_dbo.PmsConfigs_PmsConfig_Id]
GO
/****** Object:  ForeignKey [FK_dbo.PmsConfigDetails_dbo.ScoreIndicators_ScoreIndicator_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[PmsConfigDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PmsConfigDetails_dbo.ScoreIndicators_ScoreIndicator_Id] FOREIGN KEY([ScoreIndicator_Id])
REFERENCES [dbo].[ScoreIndicators] ([Id])
GO
ALTER TABLE [dbo].[PmsConfigDetails] CHECK CONSTRAINT [FK_dbo.PmsConfigDetails_dbo.ScoreIndicators_ScoreIndicator_Id]
GO
/****** Object:  ForeignKey [FK_dbo.PmsConfigDetails_dbo.Users_CreatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[PmsConfigDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PmsConfigDetails_dbo.Users_CreatedBy_Id] FOREIGN KEY([CreatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PmsConfigDetails] CHECK CONSTRAINT [FK_dbo.PmsConfigDetails_dbo.Users_CreatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.PmsConfigDetails_dbo.Users_UpdatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[PmsConfigDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PmsConfigDetails_dbo.Users_UpdatedBy_Id] FOREIGN KEY([UpdatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PmsConfigDetails] CHECK CONSTRAINT [FK_dbo.PmsConfigDetails_dbo.Users_UpdatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.ArtifactSeries_dbo.Artifacts_Artifact_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[ArtifactSeries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ArtifactSeries_dbo.Artifacts_Artifact_Id] FOREIGN KEY([Artifact_Id])
REFERENCES [dbo].[Artifacts] ([Id])
GO
ALTER TABLE [dbo].[ArtifactSeries] CHECK CONSTRAINT [FK_dbo.ArtifactSeries_dbo.Artifacts_Artifact_Id]
GO
/****** Object:  ForeignKey [FK_dbo.KpiAchievements_dbo.PmsConfigDetails_PmsConfigDetail_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[KpiAchievements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KpiAchievements_dbo.PmsConfigDetails_PmsConfigDetail_Id] FOREIGN KEY([PmsConfigDetail_Id])
REFERENCES [dbo].[PmsConfigDetails] ([Id])
GO
ALTER TABLE [dbo].[KpiAchievements] CHECK CONSTRAINT [FK_dbo.KpiAchievements_dbo.PmsConfigDetails_PmsConfigDetail_Id]
GO
/****** Object:  ForeignKey [FK_dbo.KpiAchievements_dbo.Users_CreatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[KpiAchievements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KpiAchievements_dbo.Users_CreatedBy_Id] FOREIGN KEY([CreatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[KpiAchievements] CHECK CONSTRAINT [FK_dbo.KpiAchievements_dbo.Users_CreatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.KpiAchievements_dbo.Users_UpdatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[KpiAchievements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KpiAchievements_dbo.Users_UpdatedBy_Id] FOREIGN KEY([UpdatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[KpiAchievements] CHECK CONSTRAINT [FK_dbo.KpiAchievements_dbo.Users_UpdatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.ArtifactStacks_dbo.ArtifactSeries_ArtifactSerie_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[ArtifactStacks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ArtifactStacks_dbo.ArtifactSeries_ArtifactSerie_Id] FOREIGN KEY([ArtifactSerie_Id])
REFERENCES [dbo].[ArtifactSeries] ([Id])
GO
ALTER TABLE [dbo].[ArtifactStacks] CHECK CONSTRAINT [FK_dbo.ArtifactStacks_dbo.ArtifactSeries_ArtifactSerie_Id]
GO
/****** Object:  ForeignKey [FK_dbo.LayoutColumns_dbo.LayoutRows_LayoutRow_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[LayoutColumns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LayoutColumns_dbo.LayoutRows_LayoutRow_Id] FOREIGN KEY([LayoutRow_Id])
REFERENCES [dbo].[LayoutRows] ([Id])
GO
ALTER TABLE [dbo].[LayoutColumns] CHECK CONSTRAINT [FK_dbo.LayoutColumns_dbo.LayoutRows_LayoutRow_Id]
GO
/****** Object:  ForeignKey [FK_dbo.LayoutColumns_dbo.Users_CreatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[LayoutColumns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LayoutColumns_dbo.Users_CreatedBy_Id] FOREIGN KEY([CreatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LayoutColumns] CHECK CONSTRAINT [FK_dbo.LayoutColumns_dbo.Users_CreatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.LayoutColumns_dbo.Users_UpdatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[LayoutColumns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LayoutColumns_dbo.Users_UpdatedBy_Id] FOREIGN KEY([UpdatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LayoutColumns] CHECK CONSTRAINT [FK_dbo.LayoutColumns_dbo.Users_UpdatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.KpiTargets_dbo.PmsConfigDetails_PmsConfigDetail_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[KpiTargets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KpiTargets_dbo.PmsConfigDetails_PmsConfigDetail_Id] FOREIGN KEY([PmsConfigDetail_Id])
REFERENCES [dbo].[PmsConfigDetails] ([Id])
GO
ALTER TABLE [dbo].[KpiTargets] CHECK CONSTRAINT [FK_dbo.KpiTargets_dbo.PmsConfigDetails_PmsConfigDetail_Id]
GO
/****** Object:  ForeignKey [FK_dbo.KpiTargets_dbo.Users_CreatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[KpiTargets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KpiTargets_dbo.Users_CreatedBy_Id] FOREIGN KEY([CreatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[KpiTargets] CHECK CONSTRAINT [FK_dbo.KpiTargets_dbo.Users_CreatedBy_Id]
GO
/****** Object:  ForeignKey [FK_dbo.KpiTargets_dbo.Users_UpdatedBy_Id]    Script Date: 06/16/2015 17:10:37 ******/
ALTER TABLE [dbo].[KpiTargets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KpiTargets_dbo.Users_UpdatedBy_Id] FOREIGN KEY([UpdatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[KpiTargets] CHECK CONSTRAINT [FK_dbo.KpiTargets_dbo.Users_UpdatedBy_Id]
GO
