@{
    Layout = null;
}
<!DOCTYPE html>
<html  style="width: 500px; height: 350px;">
<head>
    <title>Der Configuration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body  style="width: 500px; height: 350px;background-color:blue">
    <div class="template-view"></div>
    <div class="whitebox artifact-holder" style="width: 500px; height: 350px;" data-artifact-url="@Url.Action("View", "ArtifactClone", new { id = ViewBag.Id, secretNumber = ViewBag.SecretNumber })"></div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>
