@model DSLNG.PEAR.Web.ViewModels.PmsConfigDetails.ScoreIndicatorDetailsViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span
            aria-hidden="true">&times;</span></button>
    <div class="row">
        <div class="trafficlight green"></div>
        <div class="title">Score Indicator</div>
    </div>

</div>
<div class="modal-body">
    <table class="table table-transparent table-bordered table-responsive">
        <tbody>
            <tr>
                <th>Expression</th>
                <th>Color</th>
            </tr>
            @foreach (var item in Model.ScoreIndicators)
            {
                <tr data-toggle="modal">
                    <td>@item.Expression</td>
                    <td><span style="background-color: @item.Color;width: 20px;margin-right: 6px; ">&nbsp;</span>@item.Color</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal-footer">
</div>
