@model DSLNG.PEAR.Web.ViewModels.BusinessPosture.PostureConstraintListViewModel

<ul class="color-white">
    @foreach (var item in Model.DesiredStates)
    {
        <li>@item.Description</li>
    }
</ul>
