@model DSLNG.PEAR.Web.ViewModels.User.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password Request";
    Layout = null;
}

<h3>Reset Password Request for email : @Model.Email successfully Submitted</h3>

