<div class="collapse" id="collapseForecasted" style="margin-top: 15px; margin-bottom: 15px;">
    <div class="col-md-12">
        <div class="col-md-3">
            <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                <tr>
                    <td><label class="control-label">USD/JPY</label></td>
                </tr>
                <tr>
                    <td><label class="control-label">1m</label></td>
                    <td>
                        <span class="col-sm-8">
                            <input type="text" value="$3200" class="der-text-yesterday form-control der-value" id="text" placeholder="rate" />
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label">3m</label></td>
                    <td>
                        <span class="col-sm-8">
                            <input type="text" class="form-control" id="text" placeholder="rate" />
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label">6m</label></td>
                    <td>
                        <span class="col-sm-8">
                            <input type="text" class="form-control" id="text" placeholder="rate" />
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label">1yr</label></td>
                    <td>
                        <span class="col-sm-8">
                            <input type="text" class="form-control" id="text" placeholder="rate" />
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                <tr>
                    <td><label class="control-label">BRENT Forecast</label></td>
                </tr>
                <tr>
                    <td>
                        <span>
                            <input type="text" class="form-control" id="text" placeholder="text period" />
                        </span>
                    </td>
                    <td>
                        <span>
                            <input type="text" class="form-control" id="text" placeholder="usd/bbl" />
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                            <input type="text" class="form-control" id="text" placeholder="text period" />
                        </span>
                    </td>
                    <td>
                        <span>
                            <input type="text" class="form-control" id="text" placeholder="usd/bbl" />
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                            <input type="text" class="form-control" id="text" placeholder="text period" />
                        </span>
                    </td>
                    <td>
                        <span>
                            <input type="text" class="form-control" id="text" placeholder="usd/bbl" />
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                            <input type="text" class="form-control" id="text" placeholder="text period" />
                        </span>
                    </td>
                    <td>
                        <span>
                            <input type="text" class="form-control" id="text" placeholder="usd/bbl" />
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                <tr>
                    <td><label class="control-label">USD/IDR</label></td>
                </tr>
                <tr>
                    <td><label class="control-label">1m</label></td>
                    <td>
                        <span class="col-sm-8">
                            <input type="text" value="$3200" class="der-text-yesterday form-control" id="text" placeholder="rate" />
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label">3m</label></td>
                    <td>
                        <span class="col-sm-8">
                            <input type="text" class="form-control" id="text" placeholder="rate" />
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label">6m</label></td>
                    <td>
                        <span class="col-sm-8">
                            <input type="text" class="form-control" id="text" placeholder="rate" />
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label">1yr</label></td>
                    <td>
                        <span class="col-sm-8">
                            <input type="text" class="form-control" id="text" placeholder="rate" />
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>