@model DSLNG.PEAR.Web.ViewModels.ProcessBlueprint.ProcessBlueprintFileSystemProvider
@{
    ViewBag.Title = "Process Blueprint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .dxpc-mainDiv.DetailsPopup {
        border-width: 4px;
    }
    .dxgvInlineEditRow_DSLNG, .dxgvDataRow_DSLNG {
    background: darkslategrey;
    }
        .dxpc-mainDiv.DetailsPopup .dxpc-content {
            padding: 0;
        }

            .dxpc-mainDiv.DetailsPopup .dxpc-content > div {
                margin: auto;
            }

        .dxpc-mainDiv.DetailsPopup .dxflGroupSys {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .dxpc-mainDiv.DetailsPopup .dxflCaptionCellSys label {
            color: #929292;
        }

    .dxfmControl_DSLNG .dxsplControl_DSLNG {
        border: 1px solid silver;
        background-color: transparent;
    }

    .dxfmControl_DSLNG .dxfm-toolbar .dxsplLCC {
        padding: 5px;
        background-color: transparent;
    }

    .dxfmControl_DSLNG .dxsplPane_DSLNG {
        border-width: 0px;
        background-color: transparent;
    }

    .dxfmControl_DSLNG .dxfm-uploadPanel.dxsplPane_DSLNG .dxucTextBox_DSLNG {
        padding: 0px 2px;
        background-color: transparent;
    }

    .dxfmControl_DSLNG .dxfm-uploadPanel.dxsplPane_DSLNG table.dxfm-uploadPanelTable td.dxfm-uploadPanelTableBCell a.dxfm-uploadDisable {
        color: white;
        text-decoration: none;
        cursor: default;
    }

    .dxucNullText_DSLNG .dxucEditArea_DSLNG {
        color: white;
    }

    .dxtvControl_DSLNG {
        font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
        color: white;
    }

    .dxmLite_DSLNG, .dxmLite_DSLNG .dxm-item a.dx {
        color: white;
    }

    .dxfm-content div {
        height: 18px;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        color: white !important;
    }

    .dxfmControl_DSLNG .dxgvControl_DSLNG {
        outline: none;
        background-color: transparent !important;
    }

    .dxgvTable_DSLNG {
        background-color: transparent !important;
        color: white;
    }
    .dxgvHSDC{
        background-color: transparent !important;
        color: white;
    }
</style>

<script>
    function OnCustomCommand(s, e) {
        var args = e.commandName.split("-");
        switch (args[0]) {
            case "ChangeView":
                ProcessBlueprint.PerformCallback({ viewType: args[1] });
                break;
            case "Properties":
                var isFileSelected = ProcessBlueprint.GetActiveAreaName() == "Files";
                var relativePath = isFileSelected ? ProcessBlueprint.GetSelectedFile().GetFullName() : ProcessBlueprint.GetCurrentPath();
                popupControl.PerformCallback({ relativePath: relativePath, isFileSelected: isFileSelected });
                break;
        }
    }
    function OnToolbarUpdating(s, e) {
        var enabled = (e.activeAreaName == "Folders" || ProcessBlueprint.GetSelectedItems().length > 0) && e.activeAreaName != "None";
        ProcessBlueprint.GetToolbarItemByCommandName("Properties").SetEnabled(enabled);
        ProcessBlueprint.GetContextMenuItemByCommandName("Properties").SetEnabled(enabled);
    }
    function OnPopupEndCallback(s, e) {
        UpdatePopupHeaderText();
        popupControl.ShowAtElement(ProcessBlueprint.GetMainElement());
    }
    function UpdatePopupHeaderText() {
        var headerText = "Privilege";
        popupControl.SetHeaderText(headerText);
    }

</script>

@using (Html.BeginForm())
{
    <h3>Process Blueprint</h3>
    <br />
    @Html.Partial("_ProcessBlueprintPartial", Model)
    @Html.Action("ProcessConfigPartial")
    <p class="Note">
        <b>Allowed Extensions</b>: .jpg, .jpeg, .gif, .rtf, .txt, .avi, .png, .mp3, .xml, .doc, .pdf
    </p>
}
